
{% extends 'site_base.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %} {# il faut toujours le mettre, même s'il est dans le template parent #}


{# surcharge du block 'title' défini dans dh5bp_base.html #}
{% block title %}FAQ{% endblock %}


{# surcharge du block 'center-page' défini dans site_base.html #}
{% block center-page %}

<body>
	
<div class="entry">

<h5 class="collapseomatic " id="id6130"  title="Avec quels appareils Diabphone est-il compatible?">Avec quels appareils Diabphone est-il compatible?</h5><div id="target-id6130" class="collapseomatic_content ">Diabphone est compatible avec l&rsquo;iPhone 3/4/5, l&rsquo;iPad, et l&rsquo;iPod Touch, avec les systèmes iOS 4.3 à 7.
<h5 class="collapseomatic " id="id8892"  title="Je suis un traitement médicamenteux pour le diabète, Diabphone est-il réellement adapté à ma maladie? Je ne trouve pourtant nulle part d'allusion aux médicaments">Je suis un traitement médicamenteux pour le diabète, Diabphone est-il réellement adapté à ma maladie? Je ne trouve pourtant nulle part d'allusion aux médicaments</h5><div id="target-id8892" class="collapseomatic_content ">Vous pouvez tout à fait saisir vos glycémies dans le carnet, mais Diabphone ne comporte pas de rubrique spécifique pour saisir vos traitements médicamenteux.</div>
<h5 class="collapseomatic " id="id3815"  title="Pourquoi est-ce que l'activité physique n'apparaît nulle part dans le logiciel?">Pourquoi est-ce que l'activité physique n'apparaît nulle part dans le logiciel?</h5><div id="target-id3815" class="collapseomatic_content ">Diabphone ne comporte pas de rubrique spécifique concernant l&rsquo;activité physique. Néanmoins, vous pouvez précisez si vous en avez fait dans les zones de commentaires du carnet et les ajustements des doses d&rsquo;insuline auxquels vous avez éventuellement procédé.</div>
<h5 class="collapseomatic " id="id6445"  title="Comment dois-je procéder avec Diabphone si je fais réparer mon téléphone, ou si on me change la batterie?">Comment dois-je procéder avec Diabphone si je fais réparer mon téléphone, ou si on me change la batterie?</h5><div id="target-id6445" class="collapseomatic_content ">Tout d&rsquo;abord, vous savez certainement que si votre téléphone est modifié ou changé, l&rsquo;AppStore vous permet de réinstaller toutes vos applications sans avoir à les racheter. Le problème est donc celui de la sauvegarde de vos données.<br />
						
</div><!--end entry-->
					
</body>

{% endblock center-page %}


