{# template de base du site, avec un header et un footer commun #}

{% extends 'dh5bp_base.html' %}
{% load url from future %}
{% load staticfiles %} {# il faut toujours le mettre, même s'il est dans le template parent #}

{% block head %}
    {{ block.super }}
{% endblock %}


{% block pre_main_script %}
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="all" />
	
	<script src="/static/js/jquery.flexslider-min.js" type="text/javascript"></script>
	<script src="/static/js/functions.js" type="text/javascript"></script>
{% endblock %}

{% block post_main_script %}
{% endblock %}


{# surcharge du block 'content' défini dans dh5bp_base.html #}
{% block content %}
		
	<!-- top-nav -->
	<nav class="top-nav">
		<div class="shell">
			<span class="top-nav-shadow"></span>
			<ul>
				<li class="active"><span><a href="index">Accueil</a></span></li>
				<li><span><a href="logbook">Carnet</a></span></li>
				<li><span><a href="calculator">Calculateur</a></span></li>
				<li><span><a href="terms_of_use">Conditions d'utilisation</a></span></li>
				<li><span><a href="press">Presse</a></span></li>
				<li><span><a href="contact">Contact</a></span></li>
			</ul>
		</div>
	</nav>
	<!-- end of top-nav -->
	
	
	{# centre de la page - à surcharger #}
	{% block center-page %}YOUR CENTER-PAGE MARKUP HERE{% endblock center-page %}

		
	<!-- footer-push -->
	<div id="footer-push"></div>
	<!-- end of footer-push -->
	
	<!-- footer -->
	<div  id="footer">
		<span class="shadow-bottom"></span>
		<!-- footer-cols -->
		<div class="footer-cols">
			<!-- shell -->
			<div class="shell">
				<div class="col">
					<h3><a href="logbook">Carnet</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="manual_logbook">Mode d'emploi</a></li>
							<li><a href="features_logbook">Fonctionnalités</a></li>
							<li><a href="terms_logbook">Conditions d'utilisation</a></li>
							<li><a href="faq_logbook">Questions fréquentes</a></li>
							<li><a href="testimonies_logbook">Témoignages</a></li>
							<li><a href="tutorials">Tutorials</a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="calculator">Calculateur</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="manual_calculator">Mode d'emploi</a></li>
							<li><a href="features_calculator">Fonctionnalités</a></li>
							<li><a href="terms_calculator">Conditions d'utilisation</a></li>
							<li><a href="faq_calculator">Questions fréquentes</a></li>
							<li><a href="testimonies_calculator">Témoignages</a></li>
							<li><a href="tutorials">Tutorials</a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="#">Conditions d'utilisation</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="terms_website">Site web</a></li>
							<li><a href="terms_logbook">Application</a></li>
							<li><a href="terms_correction">Correction</a></li>
							<li><a href="terms_itf">Insulinothérapie fonctionnelle</a></li>
							<li><a href="privacy">Respect de la vie privée</a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<h3><a href="contact">Contact</a></h3>
					<div class="col-cnt">
						<ul>
							<li><a href="contact">Coordonnées</a></li>
							<li><a href="legal">Mentions légales</a></li>
							<li><a href="press">Presse</a></li>
						</ul>
					</div>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end of shell -->
		</div>
		<!-- end of footer-cols -->
		<div class="footer-bottom">
			<div class="shell">
				<nav class="footer-nav">
					<ul>
						<li><a href="index">Accueil</a></li>
						<li><a href="logbook">Carnet</a></li>
						<li><a href="calculator">Calculateur</a></li>
						<li><a href="terms_of_use">Conditions d'utilisation</a></li>
						<li><a href="press">Presse</a></li>
						<li><a href="contact">Contacts</a></li>
					</ul>
					<div class="cl">&nbsp;</div>
				</nav>
				<p class="copy">&copy; Copyright 2014<span>|</span>Diabphone.</p>
			</div>
		</div>
	</div>
	<!-- end of footer -->
	
{% endblock content %}