
{% extends 'site_base.html' %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %} {# il faut toujours le mettre, même s'il est dans le template parent #}


{# surcharge du block 'title' défini dans dh5bp_base.html #}
{% block title %}Témoignages{% endblock %}


{# surcharge du block 'center-page' défini dans site_base.html #}
{% block center-page %}

<body>

<p>
Excellente application ★★★★★
by Tg7701 - Version 1.2.21 - Jan 29, 2014

Très adaptée aux besoins du suivit de la glycémie.
</p>

<p>
Diabphone ★★★★★
by diasfdi - Version 1.2.21 - Dec 5, 2013

Super application claire très utile simple je voudrai juste signaler les changement de basal pour 1:00 ou 30 mn
</p>

<p>
oui, c'est plutôt bien ★★★★★
by Tonton Henri - Version 1.2.21 - Dec 5, 2013

Je n'utilise pas encore l'ITF: je ne suis que depuis peu sous insuline. Je trouve le carnet bien. Facile d'utilisation Je regrette juste que les objectifs glycémiques ne soient pas différenciés : a jeûn, avant et après repas. J'apprécie beaucoup aussi le calculateur de glucides. Très facile d'utilisation. Mais dommage qu'il faille ouvrir l'ITF pour s'en servir. H.B. diabète post pancréatite aigüe
</p>

Super mise à jour ★★★★★
by Paitakana - Version 1.2.21 - Nov 17, 2013

Bravo pour la mise à jour, on peut enfin sauvegarder ses données et le système pour associer des événements aux glycémies est trop bien fait. Par contre les logos ont disparus des impressions, je crois que c'est un bug

Satisfait ★★★★★
by Genea80 - Version 1.2.0 - Nov 13, 2013

Très bonne application je suis diabétique 2 et ce site me convient parfaitement et mon docteur peut le recevoir et donc me suivre Merci

Très bonne application ★★★★
by Gysdee - Version 1.2.0 - Sep 8, 2013

Je n'utilise plus de carnet papier, cette application est bien pratique lors des rendez-vous diabéto et au jour le jour. Seul bémol, pouvoir imprimer mois par mois un tableau récapitulatif (à ce jour, 2 semaines/feuille)

À recommander ★★★★★
by Félix.Martin - Version 1.2.0 - Aug 9, 2013

Plus j'utilise cette app, plus je l'aime. Vraiment super. Merci au développeur.

Remarquable application. ★★★★★
by Eowedrinidd - Version 1.2.0 - Aug 9, 2013

Je recommande tout particulièrement cette application qui permet de suivre glycémies et bolus sous forme de carnet électronique facilement imprimable, et bien d'autres annotations encore. M'aide grandement dans le suivi de mon diabète insulino dépendant traité par pompe. Merci pour cette belle application qui mérite ses 5*.

Application diabète ★★★
by Samaritain30 - Version 1.2.0 - Jul 6, 2013

Manque la moyenne glycérique journalière si non dans l'ensemble assez bon

Appli complète et simple à utiliser. Dommage que le module ITF soit aussi cher. ★★★★
by Lucee44 - Version 1.2.0 - May 20, 2013

Parfait pour suivre les injections et les glycémies. L'envoi des résultats par email en PDF est très pratique et la présentation colle aux attentes des médecins. Un très bon point aussi pour l'éditeur qui est très réactif pour répondre aux interrogations des utilisateurs. J'aurais mis une cinquième étoile si le module ITF avait été moins cher.

C'est ce qu'il me fallait ★★★★★
by ThierryM46 - Version 1.2.0 - May 13, 2013

Ma diabétologue vient de trouver la structure des résultats statistiques parfaite. Enfin quelque chose qui correspond à ce qu'un professionnel attend.

App top ★★★★★
by Lalorre22 - Version 1.2.0 - May 7, 2013

Très pratique et accessible. Option ITF pas mal :) Merci !! Je recommande :)

Appli indispensable ★★★★★
by Cebes9 - Version 1.2.0 - Apr 29, 2013

Cette appli m'a beaucoup aidé à bien gérer mon diabète. J'en ai essayé quelques unes sans satisfaction avant de trouver celle ci qui est vraiment bien faite ! En plus elle gère l'IF ! Une entrée dans le carnet nous permettant d'indiquer notre prise d'insuline lente serait un plus. A acheter sans crainte !

A recommander ★★★★★
by Juka76 - Version 1.2.0 - Apr 27, 2013

Super appli pour les diab suivi sous pompe avec IF !!!

Efficace et bien pensé ★★★★
by IF pratiquant - Version 1.1.8 - Apr 16, 2013

Le carnet est bien pensé avec suffisamment de colonnes et d'horaires pour tout ecrire. Pour ceux qui font l'IF, la table alimentaire est un peu déconcertante au début mais très efficace pour entrer son repas et calculer l'insuline rapidement. Pas besoin de faire defiler une liste de 250 plats! Vraiment bien! Et elle peut être complétée avec ses aliments fétiches. À recommander.

Super ! ★★★★★
by Ludoglen - Version 1.1.8 - Apr 12, 2013

Super carnet. Dommage que ça ne prenne pas en compte l'insuline active.

Diabephone ★★★★
by Vicouili - Version 1.1.8 - Apr 5, 2013

Bonne application facile à utiliser. Carnet clair et complet. Impressions +++, même mon médecin a apprécié!

</body>

{% endblock center-page %}


